.login-form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100vw;
	height: 250px;
	margin: 50px auto;
	flex-wrap: wrap;
	flex-direction: column;
}

.login-form {
	border: 1px solid rgba(255,255,255,0.03);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 25px 30px;
	height: 250px;
}

.group {
	position: relative;
}

.group input {
	font-size: 0.95em;
	padding: 10px 10px 10px 5px;
	margin: 10px auto;
	display: block;
	width: 200px;
	color: #FFFFFF;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #FFFFFF;
}

.group input:focus {
	outline: none;
}

.group label {
	color: #FFFFFF;
	font-size: 0.95em;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 20px;
	transition: 0.3s ease all;
}

.group input:focus ~ label, .group input:valid ~ label {
	top: -5px;
	font-size: 0.80em;
	color: #E91E63;
}

.group .bar {
	position: relative;
	display: block;
	width: 215px;
}

.group .bar:before, .group .bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 10px;
	position: absolute;
	background: #E91E63;
	transition: 0.3s ease all;
}

.group .bar:before {
	left: 50%;
}

.group .bar:after {
	right: 50%;
}

.group input:focus ~ .bar:before, .group input:focus ~ .bar:after {
	width: 50%;
}

.group .highlight {
	position: absolute;
	height: 60%;
	width: 200px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.2;
}

.group input:focus ~ .highlight {
	animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
	from {
		background: #E91E63;
	}
	to {
		width: 0;
		background: transparent; 
	}
}

.btn {
	position: relative;
	display: block;
	margin: 5px auto;
	padding: 0;
	overflow: hidden;
	width: 100px;
	border-width: 0;
	outline: none;
	border-radius: 2px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
	background-color: #E91E63;
	color: #FFFFFF;
	transition: background-color .3s;
	cursor: pointer;
}

.btn:hover, .btn:focus {
	background-color: #E91E63;
}

.btn > * {
	position: relative;
}

.btn span {
	display: block;
	padding: 6px 12px;
}

.btn:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 0;
	padding-top: 0;
	border-radius: 100%;
	background-color: rgba(236, 240, 241, .3);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.btn:active:before {
	width: 120%;
	padding-top: 120%;
	transition: width .2s ease-out, padding-top .2s ease-out;
}

.btn-secondary {
	background-color: #F06292;
}

.btn-secondary:hover, .btn-secondary:focus {
	background-color: #F06292;
}